.angle-bottom {
	width: 6px;
	height: 6px;
	border-top: 1px solid var(--primary-color);
	border-left: 1px solid var(--primary-color);
	transform: rotate(-135deg);
}
.ps-relative {
	position: relative;
}
.count_item_pr {
	position: absolute;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	text-align: center;
	line-height: 20px;
	color: #fff;
	background-color: #fec576;
	top: -20px;
	right: -10px;
}
.mt-15 {
	margin-top: 15px;
}
.tx-center {
	text-align: center;
}
.readmore {
	padding: 0 10px;
	padding-bottom: 10px;
	display: block;
	font-weight: 700;
	font-size: 13px;
	text-transform: uppercase;
	color: #fec576;
	margin-top: 15px;
	&:hover {
		color: #3f3f3f;
	}
}
.pd-40 {
	padding: 40px 0;
}
.pb-25 {
	padding-bottom: 25px;
}
.bg-overlay {
	visibility: hidden;
	position: fixed;
	opacity: 0;
	width: 100%;
	left: 0;
	top: 0 !important;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.55);
	z-index: 999;
	transition: opacity .5s ease;
}
.bg-overlay-active {
	transition: opacity .5s ease;
	visibility: visible;
	opacity: 1;
}

// lên đầu trang
.back-to-top {
	display: inline-block;
	background-color: var(--black-color);
	width: 40px;
	height: 40px;
	text-align: center;
	border-radius: 4px;
	position: fixed;
	bottom: 50px;
	right: 30px;
	border: 2px solid #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease-out 0s;
	transform: translateY(-120px);
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	i {
		color: var(--white-color);
		font-size: 25px;
	}
}
.back-to-top:hover {
	cursor: pointer;
	background-color: #333;
}
.back-to-top:active {
	background-color: #555;
}
.back-to-top.show {
	transition: all 0.3s ease-out 0s;
	transform: translateY(0px);
	opacity: 1;
	visibility: visible;
}
.strong {
	color: var(--active-color) !important;
}
// responsive
@media (max-width: 767px) {
	.od-sm-last {
		order: 1;
	}
}

@media (max-width: 991px) {
	.od-md-first {
		order: -1;
	}
}
.plus {
	position: absolute;
	width: 15px;
	height: 15px;
	top: 9px;
	right: 0;
	&:before,
	&:after {
		content: "";
		position: absolute;
		background-color: #727272;
		transition: transform 0.25s ease-out;
	}
	&:before {
		left: 50%;
		width: 2px;
		height: 100%;
		transform: translateX(-50%);
	}

	/* horizontal line */
	&:after {
		top: 50%;
		width: 100%;
		height: 2px;
		transform: translateY(-50%);
	}
}
.plus-active:before {
	transform: rotate(-90deg);
	opacity: 0;
}
.plus-active:after {
	transform: rotate(-180deg);
}
@media (max-width: 991px) {
	.md-none {
		display: none !important;
	}
}
@media (max-width: 767px) {
	.sm-none {
		display: none !important;
	}
}
