.account {
	position: relative;
}
.account__list {
	position: absolute;
	top: 45px;
	right: -20px;
	min-width: 150px;
	padding: 5px;
	z-index: 100;
	background-color: #fff;
	box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
	display: none;
	li + li {
		border-top: 1px solid #f5f5f5;
	}
	a {
		display: block;
		color: #333f48;
		padding: 5px 0;
		position: relative;
		padding-left: 7px;
		&:hover {
			color: var(--active-color);
		}
	}
}
.account__list a::after {
	position: absolute;
	content: '';
	height: 100%;
	width: 3px;
	left: -5px;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
	top: 0;
	transform: scale(0);
}
.account__list a:hover::after {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	background-color: #fec576;
}
.account__list::before {
	content: "";
	position: absolute;
	width: 80px;
	height: 25px;
	top: -20px;
	right: 10px;
}
.account:hover .account__list {
	display: block;
}

// reponsive
@media (max-width: 992px) {
	.account {
		display: none;
	}
}
