.list-infor {
	margin-bottom: 10px;
	padding: 5px 0;
	background-color: #f3f3f3;
}
.list-infor__item {
	width: 25%;
	float: left;
	overflow: hidden;
	padding: 5px 10px;
	height: 54px;
	display: flex;
	align-items: center;
	img {
		width: 45px;
	}
	p {
		display: inline-block;
		width: calc(100% - 45px);
		color: #666;
		margin-bottom: 0;
		padding-left: 10px;
	}
}
