.sort-products {
	display: flex;
	align-items: center;
	padding: 15px 0;
	h3 {
		color: #000;
		font-size: 14px;
		float: left;
		margin: 0;
		// margin-top: 2px;
	}
}
.sort-products__list {
	display: flex;
	align-items: center;
	li {
		display: flex;
		align-items: center;
		padding: 0 10px;
		label {
			margin-bottom: 0;
			margin-left: 5px;
		}
	}
}
input[type="radio"] {
	/* remove standard background appearance */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	/* create custom radiobutton appearance */
	display: inline-block;
	width: 15px;
	height: 15px;
	padding: 6px;
	/* background-color only for content */
	background-clip: content-box;
	border: 2px solid #bbbbbb;
	background-color: #e7e6e7;
	border-radius: 50%;
}
input[type="radio"]:checked {
	background-color: var(--active-color);
	border: 2px solid var(--active-color);
}
input[type="radio"]:focus {
	outline: none;
}
@media (max-width: 575px) {
	.sort-products__list li {
		padding: 0;
		margin-left: 3px;
	}
	.sort-products {
		padding: 8px 0;
	}
	.sort-products__list li label {
		font-size: 13px;
	}
}
@media (max-width: 321px) {
	.sort-products {
		flex-direction: column;
		align-items: flex-start;
	}
	.sort-products__list {
		margin-top: 3px;
	}
}
